<html>

<head>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.js"></script>
  <script type="text/javascript" charset="utf-8">
    

    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('image', function (data) {
      console.log(data.prediction)
      var image = document.getElementById('image');
      image.src = 'data:image/jpeg;base64,' + data.image;
    });
  </script>
</head>

<body>
  socket test
  <img id="image">
  <div id="content"></div>
</body>


</html>